@font-face {
    font-family: "Proxima Nova Condensed Bold";
    src:local("Proxima Nova Condensed Bold"), 
     url("../Proxima/Bold/ProximaNovaCond-Bold.ttf"),
     url("../Proxima/Bold/ProximaNovaCond-Bold.eot"),
     url("../Proxima/Bold/ProximaNovaCond-Bold.otf"),
     url("../Proxima/Bold/ProximaNovaCond-Bold.woff"),
     url("../Proxima/Bold/ProximaNovaCond-Bold.woff2"),
     url("../Proxima/Bold/ProximaNovaCondBold.woff");
}

@font-face {
    font-family:"Proxima Nova Condensed Regular";
    src:local("Proxima Nova Condensed Regular"),
    url("../Proxima/Regular/ProximaNovaCond-Regular.eot"),
    url("../Proxima/Regular/ProximaNovaCond-Regular.ttf"),
    url("../Proxima/Regular/ProximaNovaCond-Regular.woff"),
    url("../Proxima/Regular/ProximaNovaCond-Regular.woff2");
}

@font-face {
    font-family:"Proxima Nova Condensed Extrabld";
    src: local("Proxima Nova Condensed Extrabld"),
     url("../Proxima/ExBold/ProximaNovaCond-Extrabld.ttf"),
     url("../Proxima/ExBold/ProximaNovaCond-Extrabld.eot"),
     url("../Proxima/ExBold/ProximaNovaCond-Extrabld.woff"),
     url("../Proxima/ExBold/ProximaNovaCond-Extrabld.woff2"),
     url("../Proxima/ExBold/ProximaNovaCond-ExtrabldIt.eot"),
     url("../Proxima/ExBold/ProximaNovaCond-ExtrabldIt.woff"),
     url("../Proxima/ExBold/ProximaNovaCond-ExtrabldIt.woff2"),
     url("../Proxima/ExBold/ProximaNovaCond-ExtrabldIt.ttf");
}

@font-face {
    font-family:"Proxima Nova Condensed Black" ;
    src: local("Proxima Nova Condensed Black"),
     url("../Proxima/Black/ProximaNovaCond-Black.eot"),
     url("../Proxima/Black/ProximaNovaCond-Black.otf"),
     url("../Proxima/Black/ProximaNovaCond-Black.ttf"),
     url("../Proxima/Black/ProximaNovaCond-Black.woff"),
     url("../Proxima/Black/ProximaNovaCond-Black.woff2"),
     url("../Proxima/Black/ProximaNovaCondBlack.woff");
}

@font-face {
    font-family:"Proxima Nova Condensed ExBlack" ;
    src: local("Proxima Nova Condensed ExBlack"),
     url("../Proxima/ExBlack/ProximaNovaExCn-Black.otf"),
     url("../Proxima/ExBlack/ProximaNovaExCn-Black.ttf"),
     url("../Proxima/ExBlack/ProximaNovaExCn-Black.woff"),
     url("../Proxima/ExBlack/ProximaNovaExCn-Black.woff2");
}
/* стили для мобильной версии */

body{
    background: url("../img/fon-white-m.svg"),
                url("../img/fon-white-m.svg"),
                url("../img/fon-white-m.svg"),
                linear-gradient(180deg, #D3F1FF -21.51%, rgba(236, 242, 255, 0) 79.85%);;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 11px , 0 22px, 0 0px, 0 0;
    margin: 0;
} 
.mobile-version{
    margin-top: 126px;
}

h2 {
    font-family: Proxima Nova Condensed Bold , sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 34px;
    text-align: center;
}

.advice-block__tablet-title{
    display: none;
}

.advice-block__text{
    display: none;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;  
    margin-top: 24px;
}

.advice-block__nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 23px;
}

.advice-block__nav-button{
    width: 138px;
    height: 30px;
    border: 1px solid #C5E0FF;
    box-sizing: border-box;
    border-radius: 40px;
    margin-left: 10px;
    margin-top: 10px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 10px;
    background: #FFFFFF;
    cursor: pointer;
}

.advice-block__text_question,
.system-surveys{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;  
    text-align: center;
    margin-top: 23px;
}

.advice-block__slider{
    overflow: hidden;
    height: 300px;
    position: relative;
}

.advice-block__tape-slider{
     margin-top: 16px;
     display: flex;
     position: absolute;
}

.advice-block__slider__card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 240px;
    height: 289px;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 8px;
    margin-left: 20px;
    padding: 23px 10px 19px 23px;
}

.slider-button{
    width: 36px;
    height: 36px;
    background-color: transparent;
    background:  url("../img/slider-btn.svg");
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    border: none;
    margin-left: 20px;
}
 
.card-logo{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.status-on{
    display: inline-block;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #FDE5A6;
    border-radius: 6px;
    height: 10px;
    padding: 5px;
}

.status-off{
    display: none;
}


.advice-block__slider__card-title{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.advice-block__slider__card-info{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

.advice-block__slider__button{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.survey-block{
    margin-top: 62px;
}

.survey-block__text{
    margin-top: 16px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
}

.survey-block__img {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.img-second-title img{
   width: 85%;
   height: auto;
}

dl {
    margin-left: 10%;
   margin-top: 69px;
}

dt {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-top: 31px;
}

dd {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-top: 8px;
}

.block-rate{
    margin-top: 75px;
}

.block-rate__item{
    padding: 30px 20px 30px 21px;
    border-radius: 8px;
    border: 1px solid #D4EAFF;
    margin-bottom: 30px;
}


.block-rate__item_background{
    border: none;
    background: linear-gradient(180deg, #E8EEFF 0%, #C2F6FF 100%), #F9FBFF;
    margin-top: 30px;
}

.block-rate__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.block-rate__name-tariff{
    display: inline-block;
    width: 46px;
    height: 46px;
    font-family:Proxima Nova Condensed Regular , sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50%;
    background-color: #D4EAFF;
}

.block-rate__name-tariff_bg-white{
    background-color: white;
}

.block-rate__title{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    margin-left: 16px;
    margin-right: auto;
}

ul{
    margin-top: 36px;
}

.main-info__item{
    padding-left: 16px;
    background: url("../img/group.svg") no-repeat;
    background-position: 2px 6px;
    margin-bottom:8px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.main-info__item img{
    vertical-align: middle;
}

.block-rate__price{
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
}

.block-rate__full-price{
    font-family: Proxima Nova Condensed Regular , sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 22px;
}

.block-rate__price-month{
    font-family: Proxima Nova Condensed Regular , sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

.block-rate__button{
    appearance: none;
    background: white;
    border-radius: 3px;
    border: 1px solid #E8178A;
    color: #E8178A;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    margin-left: 9px;
    height: 46px;
    width: 120px;
    cursor: pointer;
}

.block-rate__button_red{
    background-color: #E8178A;
    color: white;
}

.block-rate__item_individual{
    display: flex;
    flex-direction: column;
}

.block-rate__info-individual{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.block-rate__circle{
    display: inline-block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #D4EAFF;
    margin-bottom: 15px;
}

.block-rate__title-individual{
    padding-left: 16px;
    line-height: 45px;
}

.block-rate__button_individual{
    width: 227px;
    margin-top:60px;
    align-self: center;
}

.designer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #290A54;
    background-image:  url("../img/star.svg");
    background-repeat: no-repeat;
    background-position: 50px bottom;
    height: 506px;
}

.designer h2{
    color: white;
    margin-top: 50px;
}

.designer p{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: white;
    margin-top: 17px;
}

.designer__button{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.designer__button__item{
    appearance: none;
    width:288px;
    height: 46px;
    border-radius: 3px;
    cursor: pointer;
}

.designer__button__item_to-try{
    background: #E8178A;
    color: white;
    border: none;
}

.designer__button__item_demo{
    background: #290A54;
    color: white;
    border: 1px solid white;
    margin-top: 10px;
}
/* Конец стилей мобильной версии */

@media screen and (min-width:510px){
    .advice-block__mob-title{
        display: none;
    }
    
    .advice-block__tablet-title{
        display: block;
    }
    
    .advice-block__text{
        display: block;
    }

    .block-rate__main-info{
        display: flex;
        justify-content: space-between;
    }
    
    .block-rate__price{
        flex-direction: column;
        justify-content: end;
    }

    .block-rate__button{
        margin-top: 17px;
    }

    .block-rate__wrapper{
        margin-left: 24px;
    }
}    

@media screen and (max-width:1000px){
    .pc-version{
        display: none;
    }
    
}

@media  screen and (min-width:1000px){
    body{
        background: white;
    }

    .mobile-version{
        display: none;
    }
    
    header{
        width: 100%;
        background: url("../img/star.svg"),
                    url("../img/header-fon.svg"),
                    linear-gradient(180deg, #C2F6FF 0%, #D9E3FD 100%), #F9FBFF;
        background-repeat: no-repeat;
        padding-top: 16px;
        background-position: 100px bottom, center bottom, 0 0;
        padding-bottom: 405px;
    }

    .header-nav{
        display: flex;
        justify-content:space-between;
        max-width: 1200px;
        width: 90%;
        margin: 0 auto;
    }

    .header-nav__logo{
        display: flex;
    }

    .header-nav__logo p{
        font-family: Proxima Nova Condensed Extrabld, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 23px;
        width: 150px;
        margin-left: 20px;
        
    }

    .header-nav__logo img{
        width: 46px;
    }

    .header-nav__wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .header-nav__button-list{
        display: flex;
        align-items: center;
        margin: 0;
    }

    .header-nav__button-list li{
        margin-right: 23px;
    }

    .button-list__link{
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        text-decoration: none;
        color: black;
    }

    .header-nav__button{
        width: 124px;
        height: 34px;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        margin-left: 10px;
        background: transparent;
        border-radius: 3px;
    }

    button{
        cursor: pointer;
    }
    
    h1{
        font-family: Proxima Nova Condensed ExBlack, sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 56px;
        line-height: 56px;
        text-align: center;
        margin-top: 100px;
    }

    .header-text{
        width: 650px;
        margin: 24px auto 0 auto;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    }

    .header-button{
        display: flex;
        justify-content: center;
        margin-top: 32px;
    }

    .header-button_item{
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        border-radius: 3px;
        color: #E8178A;
        border: 1px solid #E8178A;
        width: 265px;
        height: 48px;
        background: transparent;
    }

    .header-button__item_red{
        border: none;
        color: white;
        background-color: #E8178A;
        margin-right: 32px;
    }

    .header-info{
        display: flex;
        justify-content: center;
        margin-top: 44px;
    }

    .header-info__list{
        display: flex;
    }

    .header-info__item{
        display: flex;
        width: 205px;
        margin-right: 23px;
    }
 
    .header-info__item img{
        align-self: flex-start;
        margin-right: 12px;
    }

    .header-info__item p{
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
    }

    .block-hr__title{
        width: 500px;
        margin: 70px auto 0 auto;
    }

    .block-hr__text{
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        width: 730px;
        margin: 24px auto 0 auto;
    }

    .block-hr__card-list{
        display: flex;
        justify-content: center;
        margin-top: 35px;
    }

    .block-hr__card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 259px;
    }

    .block-hr__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 259px;
    }

    .block-hr__card-title{
        font-family: Proxima Nova Condensed Bold, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }

    .block-hr__card-text{
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        margin-top: 8px;
    }

    .advice-block__tablet-title{
        width: 605px;
        margin: 150px auto 0 auto;
    }


    .advice-block__nav{
        justify-content: center;
        height: 200px;
        width: 1000px;
        padding-top: 20px;
        margin: 0 auto;
        margin-top: 58px;
    }

    .advice-block__wrapper{
        background: url("../img/fon-pc-white.svg"),
                    url("../img/fon-pc-white.svg"),
                    url("../img/fon-pc-white.svg"),
                    url("../img/fon-pc-white.svg"),
                    linear-gradient(180deg, #D3F1FF -21.51%, rgba(236, 242, 255, 0) 50.03%);
        background-repeat: no-repeat;
        background-size:100%,100%, 100%, 100%;
        background-position: 0 0, 0 29px, 0 58px ,0 86px , 0 0;
        width: 100%;
    }

    .advice-block__wrapper-button{
        margin-left: 20px;
        position: relative;
    }

    .show{
        background: #E9F6FF;
        color: #E8178A;
    }

    .advice-block__wrapper-button::before{
        content: "";
        position: absolute;
        width: 69px;
        height: 69px;
        background: url("../img/star-rotate.svg") no-repeat;
        background-size: contain;
        right: 0;
        top: 12px;
        transition: all 0.5s ease-out;
    }

    .advice-block__wrapper-button.click::before{
        content: '';
        top: -44px;
        transition: all 0.5s ease-out;
    }

    .advice-block__nav-button{
        position: relative;
        height: 138px;
        border-radius: 50%;
        font-family: Proxima Nova Condensed Bold, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 19px;
        border: 2px solid #C5E0FF;
        margin: 0;
        z-index: 1;
    }

    .advice-block__nav-button_end{
        align-self: flex-end;
    }

    .advice-block__nav-button_center{
        align-self: center;
    }
 
    .advice-block__slider{
        height: 300px;
        position: relative;
        margin-top: 38px;
    }

    .advice-block__text_question{
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        padding: 0 30% 0 30%;
    }

    .survey-block__text{
        width: 725px;
        margin: 16px auto;
    }
    
    .survey-block__wrapper{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        padding: 0 20%;
    }
    
    .survey-block__img{
        width: 70%;
    } 

    dl{
        margin: 0;
    }
   
    dd{
        width: 300px;
    }

    .block-advice{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 160px;
    }

    .block-advice h2{
        width: 545px;

    }

    .block-advice__center{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 1000px;
    }

    .block-advice__wrapper{
        display: grid;
        grid-template-columns: 270px 270px 270px;
        margin-top: 60px;
        width: 94%;
        column-gap: 60px;
        row-gap: 55px;
    }

    .block-advice__cards{
        height: 156px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .block-advice__cards p{
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
    }

    
    .block-rate__button_width{
        width: 187px;
        margin-top: 57px;
    }

    .price-title{
        margin-top: 150px;
    }

    .center{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    
    .container-pc{
        display: flex;
        margin-bottom: 50px;
    }
    
    .container-pc__rate{
        display: flex;
        height: 889px;
        flex-direction: column;
        border: 1px solid #D4EAFF;
        border-radius: 8px;
    }

    .container-pc__rate_advantages{
        border-right: none;
        border-radius:8px 0 0 8px ;
    }

    .container-pc__rate_xs{
        border-right: none;
        border-radius: 0;
    }

    .container-pc__rate_m{
        position: relative;
        height: 929px;
        top: -17px;
        background: linear-gradient(180deg, #E8EEFF 0%, #C2F6FF 100%), #F9FBFF;
    }

    .container-pc__rate_l{
        border-left: none;
        border-radius: 0 8px 8px 0;
        margin-left: 0;
    }

    .advantages__name{
        display: flex;
        align-items: center;
        height: 70px;
        width: 230px;
        box-sizing: border-box;
        padding: 0 32px 0 22px;
        border-bottom:1px solid #D4EAFF;
    }

     .container-pc__rate_m .advantages__name{
         width: 241px;
     }

    .advantages__name_centering{
        justify-content: center;
        text-align: center;
        padding: 0px 51px 0 53px;
    }

    .container-pc__servise-name{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 164px;
        width: 230px;
        box-sizing: border-box;
        padding: 0 10px 0 10px;
    }
    
    .container-pc__rate_m .container-pc__servise-name{
        height: 181px;
        width: 241px;
    }

    .container-pc__servise-name p:first-child{
        font-family: Proxima Nova Condensed Regular , sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 26px;  
        text-transform: uppercase;
        text-align: center;
        margin-bottom:15px ;
    }

    .container-pc__servise-name p:last-child{
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }

    .container-pc__servise-name_lower-bound{
        border-bottom: 1px solid #D4EAFF;
    }

    .advantages__name p{
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
    }

    .advantages__name img{
        vertical-align: middle;
    }

    .advantages__name_price{
        height: 165px;
        border-bottom: none;
    }

    .container-pc__rate_m .container-price{
        height: 188px;
    }

    .advantages__name .advantages__full-price{
        font-family: Proxima Nova Condensed Regular , sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 22px;
    }
    
    .advantages__name .advantages__price-month{
        font-family: Proxima Nova Condensed Regular , sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
    }
    
   .container-pc__rate_xs .advantages__name .advantages__full-price{
       margin-bottom: 20px;
   }
   
    .container-pc__rate_m button{
        background: #E8178A;
        color: white;
    }

   .block-rate__item_individual{
       width: 930px;
       flex-direction: row;
       justify-content: space-between;
       box-sizing: border-box;
       margin: 0 auto;
   }
    
    .block-rate__info-individual{
       width: 463px;
    }

    .block-rate__button_individual{
        align-self: flex-start;
        margin-top: 0;
    }

    .stages-block{
        margin-top: 140px;
    }

    .stages-block__text{
        width: 730px;
        margin: 24px auto 0 auto;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
    }

    .stades-block__wrapper{
        position: relative;
         width: 100%;
         margin: 50px auto 0 auto;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
    }

    .stages-block__list{
        display: flex;
        position: relative;
        justify-content: flex-start;
        width: 1000px;
        height: 455px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        background: url("../img/stages-img-fon.svg"), 
                    url("../img/linear-stages.svg");
        background-repeat: no-repeat;
        background-position: 651px -24px, 0px 19px;
        background-size: 38%, 91%;
        z-index: -1;
    }
    .stages-block__item{
        width: 176px;
        height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .stages-block__num{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: 2px solid #AAD5FB;
        box-sizing: border-box;
        border-radius: 50%;
        background: white;
    }

    .stages-block__num p{
        font-family: Proxima Nova Condensed Regular, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 22px;
        text-align: center;
        color: #AAD5FB;
    }
    
    .stages-block__item:first-child {
        align-self: flex-start;
        margin-left: 100px;
    }

    .stages-block__item:nth-child(2){
        align-self: center;
        margin-bottom: 117px;
        margin-left: 33px;
    }

    .stages-block__item:last-child{
        align-self: flex-start;
    }

    .stages-block__fon{
        position: absolute;
        background: url("../img/fon-blue4.png");
        background-repeat: no-repeat;
        width: 100%;
        height: 123px;
        background-size: 100% 75%;
        bottom: -47px;
    }

    .block-specialists{
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-bottom: 150px;
        padding-top: 50px;
        background: linear-gradient(180deg, #D3F1FF 0.64%, rgba(236, 242, 255, 0) 108.8%);
    }

    .block-specialists__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding-bottom: 100px;
    }

    .block-specialists__img{
        margin-bottom: 8px;
    }

    .block-specialists__wrapper img{
        border-radius: 50%;
        width: 80px;
        height: 80px;
    }

    .block-specialists__group{
        display: flex;
        justify-content: space-between;
    }

    .block-specialists__item{
        display: flex;
        flex-direction: column;
        width: 90px;
        height: 270px;
        align-items: flex-start;
        justify-content: space-between;
    }

    .hr-1::before, .hr-2::before, .hr-3::before,
    .hr-4::before, .hr-5::before{
        content: "";
        padding: 10px 15px;
        position: absolute;
        background: white;
        border-radius: 26px;
        box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
    }

    .hr-1::before{
        content: "Насколько вы довольны нашим ДМС?";
        top: -59px;
        right: 135px;
    }

    .hr-2::before{
        content: "Поделитесь впечатлениями после интервью?";
        top: 5px;
        left: 41px;
        width: 233px;
        text-align: left;
    }

    .hr-3::before{
        content: "Кто будет участвовать в тренинге?";
        bottom: 48px;
        left: 41px;
    }

    .hr-4::before{
        content: "Выбираем тему вечеринки!";
        top: 27px;
        right: 38px;
    }

    .hr-5::before{
        content: "Насколько вам комфортно работать в hh?";
        bottom: 21px;
        right: 38px;
        width: 233px;
        text-align: left;
    }

    .hr-3{
        align-self: flex-end;
    }

    .hr-4{
        align-self: flex-end;
    }

    .hr-5{
        align-self: flex-start;
    } 

    .hr-1::after, .hr-2::after, .hr-3::after,
    .hr-4::after, .hr-5::after{
        content: "";
        width: 17px;
        height: 17px;
        background: white;
        border-radius: 50%;
        position: absolute;
    }

    .hr-1::after{
        top: -21px;
        right: 393px;
    }

    .hr-2::after{
        top: 69px;
    }

    .hr-3::after{
        bottom: 87px;
        left: 80px;
    }

    .hr-4::after{
        top: 65px;
        right: 73px;
    }

    .hr-5::after{
        bottom: 86px;
        right: 73px;
    }

    .block-specialists__text{
        margin: 45px 105px;
    }

    .block-specialists__title{
        font-family: Proxima Nova Condensed ExBlack, sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        width: 500px;
        margin-bottom: 24px;
    }

    .block-specialists__info{
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        width: 470px;
    }

    .block-specialists__cards-list{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    
    .block-specialists__card{
        position: relative;
        width: 350px;
        height: 301px;
        padding: 32px 45px 0 34px;
        background: white;
        box-shadow: 0px 0px 19.2577px rgba(142, 173, 255, 0.3);
        border-radius: 8px;
    }

    .block-specialists__card:first-child{
        margin-right: 30px;
    }
    
    .block-specialists__card img{
        border-radius: 50%;
        position: absolute;
        top: -23px;
        right: 36px;
    }

    .block-specialists__name{
        font-family: Proxima Nova Condensed Bold,sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
    }

    .block-specialists__post{
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #999999;
        width: 270px
    }

    .block-specialists__comment{
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        margin-top: 27px;
    }

    .designer{
        width: 100%;
        background-image: none;
        height: auto;
        padding-bottom: 103px;
        background: url("../img/desinger-fon-pc.svg") no-repeat;
        background-size: 100%;
    }

    .designer h2{
        font-size: 40px;
        line-height: 40px;
    }

    .designer p{
        width: 440px;
        font-size: 18px;
        line-height: 26px;
    }

    .designer__button{
        flex-direction: row;
    }

    .designer__button__item_to-try{
        width: 198px;
        height: 48px;
        margin-right: 20px;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
    }

    .designer__button__item_demo{
        margin-top: 0;
        height: 48px;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
    }

    .connection{
        margin-top: 70px;
    }

    .connection__title{
        font-size: 36px;
        line-height: 33px;
    }

    .connection__text{
        width: 700px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        margin: 24px auto 0 auto;
    }

    .connection__email{
        margin: 30px auto 0 auto;
        text-align: center;
    }
    
    .connection__email a{
        text-decoration: none;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 26px;
        color: #2998FF;
    } 

    .footer{
        margin-top: 90px;
        background: #212122;
        padding-top: 40px;
    }

    .footer-wrapper{
        max-width: 1200px;
        width: 90%;
        margin: 0 auto 0 auto;
    }

    .footer-nav{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .footer-nav ul{
        margin: 0;
    }

    .footer-nav ul li{
        margin-bottom: 5px;
    }

    .footer-nav__list a{
        text-decoration: none;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: #F9F9F9;
    }

    .footer-social{
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #666666;
        padding: 34px 0 44px 0;
    }

    .footer-social p{
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: #999999;
    } 
    
    .footer-social__item{
        
        display: flex;
    }

    .footer-social__item a{
        margin-right: 15px;
    }

    .footer-social__item a:last-child{
        margin-right: 0;
    }

    .social{
        width: 37px;
        height: 37px;
        background:url("../img/social.svg") no-repeat ;
    }

    .vk{
        background-position: 0px;
    }

    .facebook{
        background-position: -50px;
    }
    
    .ok{
        background-position: -100px;
    }

    .twiter{
        background-position: -150px;
    }

    .inst{
        background-position: -200px;
    }

    .telegram{
        background-position: -250px;
    }
}    