@font-face {
    font-family: "Proxima Nova Condensed Bold";
    src:local("Proxima Nova Condensed Bold"), 
     url("../Proxima/Bold/ProximaNovaCond-Bold.ttf"),
     url("../Proxima/Bold/ProximaNovaCond-Bold.eot"),
     url("../Proxima/Bold/ProximaNovaCond-Bold.otf"),
     url("../Proxima/Bold/ProximaNovaCond-Bold.woff"),
     url("../Proxima/Bold/ProximaNovaCond-Bold.woff2"),
     url("../Proxima/Bold/ProximaNovaCondBold.woff");
}

@font-face {
    font-family:"Proxima Nova Condensed Regular";
    src:local("Proxima Nova Condensed Regular"),
    url("../Proxima/Regular/ProximaNovaCond-Regular.eot"),
    url("../Proxima/Regular/ProximaNovaCond-Regular.ttf"),
    url("../Proxima/Regular/ProximaNovaCond-Regular.woff"),
    url("../Proxima/Regular/ProximaNovaCond-Regular.woff2");
}

@font-face {
    font-family:"Proxima Nova Condensed Extrabld";
    src: local("Proxima Nova Condensed Extrabld"),
     url("../Proxima/ExBold/ProximaNovaCond-Extrabld.ttf"),
     url("../Proxima/ExBold/ProximaNovaCond-Extrabld.eot"),
     url("../Proxima/ExBold/ProximaNovaCond-Extrabld.woff"),
     url("../Proxima/ExBold/ProximaNovaCond-Extrabld.woff2"),
     url("../Proxima/ExBold/ProximaNovaCond-ExtrabldIt.eot"),
     url("../Proxima/ExBold/ProximaNovaCond-ExtrabldIt.woff"),
     url("../Proxima/ExBold/ProximaNovaCond-ExtrabldIt.woff2"),
     url("../Proxima/ExBold/ProximaNovaCond-ExtrabldIt.ttf");
}

@font-face {
    font-family:"Proxima Nova Condensed Black" ;
    src: local("Proxima Nova Condensed Black"),
     url("../Proxima/Black/ProximaNovaCond-Black.eot"),
     url("../Proxima/Black/ProximaNovaCond-Black.otf"),
     url("../Proxima/Black/ProximaNovaCond-Black.ttf"),
     url("../Proxima/Black/ProximaNovaCond-Black.woff"),
     url("../Proxima/Black/ProximaNovaCond-Black.woff2"),
     url("../Proxima/Black/ProximaNovaCondBlack.woff");
}

@font-face {
    font-family:"Proxima Nova Condensed ExBlack" ;
    src: local("Proxima Nova Condensed ExBlack"),
     url("../Proxima/ExBlack/ProximaNovaExCn-Black.otf"),
     url("../Proxima/ExBlack/ProximaNovaExCn-Black.ttf"),
     url("../Proxima/ExBlack/ProximaNovaExCn-Black.woff"),
     url("../Proxima/ExBlack/ProximaNovaExCn-Black.woff2");
}
/* стили для мобильной версии */

body{
    background: linear-gradient(180deg, #D3F1FF -21.51%, rgba(236, 242, 255, 0) 79.85%);
    background-repeat: no-repeat;
} 

h2 {
    font-family: Proxima Nova Condensed ExBlack , sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 34px;
    text-align: center;
}

.advice-block__nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 23px;
}

.advice-block__nav-button{
    width: 138px;
    height: 30px;
    border: 1px solid #C5E0FF;
    box-sizing: border-box;
    border-radius: 40px;
    margin-left: 10px;
    margin-top: 10px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 10px;
    background: #FFFFFF;
    cursor: pointer;
}

.advice-block__nav-button:active{
    color: white;
    background: #E8178A;
}

.advice-block__text_question,
.system-surveys{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;  
    text-align: center;
    margin-top: 23px;
}

.advice-block__slider{
    overflow: hidden;
}

.advice-block__tape-slider{
     width: 1500px;
     margin-top: 16px;
     display: flex;
     position: relative;
}

.advice-block__slider__card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 240px;
    height: 289px;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 8px;
    margin-left: 20px;
    padding: 23px 10px 19px 23px;
}

.advice-block__slider__card-title{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.advice-block__slider__card-info{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

.advice-block__slider__button{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.survey-block{
    margin-top: 62px;
}

.survey-block__text{
    line-height: 21px;
    margin-top: 16px;
}

.survey-block__img {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.img-second-title img{
   width: 85%;
   height: auto;
}

dl {
    margin-left: 10%;
   margin-top: 69px;
}

dt {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-top: 31px;
}

dd {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-top: 8px;
}

.block-rate{
    margin-top: 75px;
}

.block-rate__item{
    padding: 30px 20px 30px 21px;
    border-radius: 8px;
    border: 1px solid #D4EAFF;
    margin-bottom: 30px;
}


.block-rate__item_background{
    border: none;
    background: linear-gradient(180deg, #E8EEFF 0%, #C2F6FF 100%), #F9FBFF;
    margin-top: 30px;
}

.block-rate__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.block-rate__name-tariff{
    display: inline-block;
    width: 46px;
    height: 46px;
    font-family:Proxima Nova Condensed Regular , sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50%;
    background-color: #D4EAFF;
}

.block-rate__name-tariff_bg-white{
    background-color: white;
}

.block-rate__title{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    margin-left: 16px;
    margin-right: auto;
}

ul{
    margin-top: 36px;
}

li{
    padding-left: 16px;
    background: url("../img/group.svg") no-repeat;
    background-position: 2px 6px;
    margin-bottom:8px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

li img{
    vertical-align: middle;
}

.block-rate__price{
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
}

.block-rate__full-price{
    font-family: Proxima Nova Condensed Regular , sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 22px;
}

.block-rate__price-month{
    font-family: Proxima Nova Condensed Regular , sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

.block-rate__button{
    appearance: none;
    background: white;
    border-radius: 3px;
    border: 1px solid #E8178A;
    color: #E8178A;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    margin-left: 9px;
    height: 46px;
    width: 120px;
    cursor: pointer;
}

.block-rate__button_red{
    background-color: #E8178A;
    color: white;
}

.block-rate__item_individual{
    display: flex;
    flex-direction: column;
}

.block-rate__info-individual{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.block-rate__circle{
    display: inline-block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #D4EAFF;
    margin-bottom: 15px;
}

.block-rate__title-individual{
    padding-left: 16px;
    line-height: 45px;
}

.block-rate__button_individual{
    width: 227px;
    margin-top:60px;
    align-self: center;
}

.designer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #290A54;
    background-image:  url("../img/hh.svg"),url("../img/star.svg");
    background-repeat: no-repeat;
    background-position: 172px 372px , 50px 369px;
    height: 506px;
}

.designer h2{
    color: white;
    margin-top: 50px;
}

.designer p{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: white;
    margin-top: 17px;
}

.designer__button{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.designer__button__item{
    appearance: none;
    width:288px;
    height: 46px;
    border-radius: 3px;
    cursor: pointer;
}

.designer__button__item_to-try{
    background: #E8178A;
    color: white;
    border: none;
}

.designer__button__item_demo{
    background: #290A54;
    color: white;
    border: 1px solid white;
    margin-top: 10px;
}
/* Конец стилей мобильной версии */

@media screen and (min-width:510px){
    .block-rate__main-info{
        display: flex;
        justify-content: space-between;
    }
    
    .block-rate__price{
        flex-direction: column;
        justify-content: end;
    }

    .block-rate__button{
        margin-top: 17px;
    }

    .block-rate__wrapper{
        margin-left: 24px;
    }
}    

@media screen and (max-width:1000px){
    .pc-version{
        display: none;
    }
    
}

@media  screen and (min-width:1000px){
    body{
        background: white;
    }

    .mobile-version{
        display: none;
    }
    
    .pc-version{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .center{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    
    .container-pc{
        display: flex;
        margin-bottom: 50px;
    }
    
    .container-pc__rate{
        display: flex;
        height: 889px;
        flex-direction: column;
        border: 1px solid #D4EAFF;
        border-radius: 8px;
    }

    .container-pc__rate_advantages{
        border-right: none;
        border-radius:8px 0 0 8px ;
    }

    .container-pc__rate_xs{
        border-right: none;
        border-radius: 0;
    }

    .container-pc__rate_m{
        position: relative;
        height: 929px;
        top: -17px;
        background: linear-gradient(180deg, #E8EEFF 0%, #C2F6FF 100%), #F9FBFF;
    }

    .container-pc__rate_l{
        border-left: none;
        border-radius: 0 8px 8px 0;
        margin-left: 0;
    }

    .advantages__name{
        display: flex;
        align-items: center;
        height: 70px;
        width: 230px;
        box-sizing: border-box;
        padding: 0 32px 0 22px;
        border-bottom:1px solid #D4EAFF;
    }

     .container-pc__rate_m .advantages__name{
         width: 241px;
     }

    .advantages__name_centering{
        justify-content: center;
        text-align: center;
        padding: 0px 51px 0 53px;
    }

    .container-pc__servise-name{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 164px;
        width: 230px;
        box-sizing: border-box;
        padding: 0 10px 0 10px;
    }
    
    .container-pc__rate_m .container-pc__servise-name{
        height: 181px;
        width: 241px;
    }

    .container-pc__servise-name p:first-child{
        font-family: Proxima Nova Condensed Regular , sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 26px;  
        text-transform: uppercase;
        text-align: center;
        margin-bottom:15px ;
    }

    .container-pc__servise-name p:last-child{
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }

    .container-pc__servise-name_lower-bound{
        border-bottom: 1px solid #D4EAFF;
    }

    .advantages__name p{
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
    }

    .advantages__name img{
        vertical-align: middle;
    }

    .advantages__name_price{
        height: 165px;
        border-bottom: none;
    }

    .container-pc__rate_m .container-price{
        height: 188px;
    }

    .advantages__name .advantages__full-price{
        font-family: Proxima Nova Condensed Regular , sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 22px;
    }
    
    .advantages__name .advantages__price-month{
        font-family: Proxima Nova Condensed Regular , sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
    }
    
   .container-pc__rate_xs .advantages__name .advantages__full-price{
       margin-bottom: 20px;
   }
   
    .container-pc__rate_m button{
        background: #E8178A;
        color: white;
    }

   .block-rate__item_individual{
       width: 930px;
       flex-direction: row;
       justify-content: space-between;
       box-sizing: border-box;
   }
    
    .block-rate__info-individual{
       width: 463px;
    }

    .block-rate__button_individual{
        align-self: flex-start;
        margin-top: 0;
    }

}    